<div>
    <h2>Admin Control</h2>

    <p>

        <b data-tooltip="Manage all the comments of funClubs">
           <a class="Button" href="/#/Comments">Manage Comments</a>
        </b>
        <b data-tooltip="Group the fans per year of Birhday">
            <a class="Button" href="#">GroupUser ByYear</a>
        </b>
        <b data-tooltip="Group the fans per gender">
            <a class="Button" href="#">GroupUser ByGender</a>
        </b>
        <b data-tooltip="Create rules in the system and associate to a user">
            <a class="Button" href="#">Create Rule</a>
        </b>

        <section id="search">
                <label ><h4>Filter post by author</h4></label>
                <input ng-model="searchAuthor" name="name" type="name" placeholder="Enter name of a author here" />
        </section>


    <p></p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>

        <tr ng-repeat ="post in posts | filter:searchAuthor">
            <td>
                {{post.Title}}
            </td>
            <td>
                {{post.Author}}
            </td>
            <td>
                <button class="Button" ng-click="loadEdit(post._id)">Edit</button>
                <button class="Button"  ng-click="loadDetails(post._id)">Details</button>
                <button class="Button" ng-click="deleteFan(post._id)">Delete</button>
                <b data-tooltip="See the comments for this post"> <button class="Button" ng-click="deleteFan(post._id)">Comments</button></b>
            </td>
        </tr>
    </table>
    <br>
    <p><a class="Button" href="/#/Admin/CreatePost">Add New Post</a></p>

</div>