<h2>Edit</h2>

<form>
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="Title">Title</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Title" name="Title"  ng-model="postToEdit.Title" type="text" value="{{postToEdit.Title}}">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >Author</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Author" name="Author"  ng-model="postToEdit.Author" type="text" value="{{postToEdit.Author}}">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >WebSite</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="WebSite" name="WebSite" ng-model="postToEdit.WebSite" type="text" value="{{postToEdit.WebSite}}">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >Category</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Category" name="Category" ng-model="postToEdit.Category" type="text" value="{{postToEdit.Category}}">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >Text</label>
            <div class="col-md-10">
                <textarea class="text-box single-line valid" ng-model="postToEdit.Text" type="text"  value="{{postToEdit.Text}}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >Image</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Image" name="Image" ng-model="postToEdit.Image" type="text"  value="{{postToEdit.Image}}">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" >Video</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Video" name="Video" ng-model="postToEdit.Video" type="text"  value="{{postToEdit.Video}}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  ng-click="updatesPost(postToEdit)"  value="Save" class="Button" />
            </div>
        </div>
    </div>

</form>

<div>
    <a class="Button" href="/#/Admin/">Back to List</a>
</div>


