<div ng-app="myApp" ng-controller="FanClubsCtrl">
    <b data-tooltip="See how meny gender do you have and the number for each gender">
        <a class = "Button" href="#">GroupByGender</a>
    </b>

    <b data-tooltip="See how meny Fuus exist according to the ages">
        <a class = "Button" href="#">GroupByYear</a>
    </b>

    <b data-tooltip="See number of comments that each user inserts">
        <a class = "Button" href="#">Count comments per user</a>
    </b>

    </p>


    <section id="search">
        <form action="#" method="search" class="form">
            <h2>Search</h2>
            <p>
                <label id="author_name">First Name</label>
                <input ng-model="searchFirstName"  type="name" name="name" placeholder="Enter name here" />
            </p>
            <p>
                <label id="email">Gender</label>
                <input ng-model="searchGender" name="gender" id="title" type="text" placeholder="Enter Title here" />
            </p>
            <p>
                <label for="to-date">BirthDate</label>
                <input ng-model="BirthDate" id="to-date" type="date" name="birthdate" />
            </p>
        </form>
    </section>

    <table class="table">
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName

            </th>
            <th>
                Gender
            </th>
            <th>
                BirthDate
            </th>
            <th>
                Seniority
            </th>
            <th></th>
        </tr>

        <tr ng-repeat ="fan in fansclubs | filter:searchFirstName |filter:searchGender | filter:BirthDate ">
            <td>
                {{fan.Firstname}}
            </td>
            <td>
                {{fan.Lastname}}
            </td>
            <td>
                {{fan.Gender}}
            </td>
            <td>
                {{fan.Birthdate}}
            </td>
            <td>
                {{fan.Seniority}}
            </td>
            <td>

                <button class="Button" ng-click="loadEdit(fan._id)">Edit</button>
                <button class="Button"  ng-click="loadDetails(fan._id)">Details</button>
                <button class="Button" ng-click="deleteFan(fan._id)">Delete</button>
            </td>
        </tr>


    </table>
    <br />


</div>