<h1>Create a post</h1>
<form>
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">Post Title</label>
            <!--TODO need to implement select list -->
            <div class="col-md-10">
                <select ng-options="post.Title for post in posts" ng-model="commentToCreate.PostId"></select>
                <!--<input class="text-box single-line valid" id="PostId" name="PostId"  ng-model="commentToCreate.PostId" type="text">-->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">Title</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="FirstName" name="FirstName"  ng-model="commentToCreate.Title" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="WebSiteCritic">WebSiteCritic</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="WebSiteCritic" name="WebSiteCritic"  ng-model="commentToCreate.WebSiteCritic" type="url">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Text">Text</label>
            <div class="col-md-10">
                <input class="text-box single-line valid" id="Text" name="Text"  ng-model="commentToCreate.Text" type="text">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="Button" ng-click="createComment(commentToCreate)">Create</button>
            </div>
        </div>
    </div>

</form>

<div>
    <a class="Button" href="/#/Comments/">Back to List</a>
</div>
