<div>
 <!--class="se-pre-con" cause to feed out when the page loding -->
    <!--<div class="tabs">-->
        <!--<ul class="tab-links">-->
            <!--<li class="active"><a href="#tab1">Search</a></li>-->
            <!--<li><a href="#resultTarget">Posts</a></li>-->
        <!--</ul>-->

        <div class="tab-content">
            <div id="tab1" class="tab active">
                <section id="search">
                    <form action="#" method="search">
                        <h2>Search</h2>
                        <p>
                            <label for="from-date">From Date</label>
                            <input id="from-date" type="date" name="fromdate" />
                        </p>
                        <p>
                            <label for="to-date">To Date</label>
                            <input id="to-date" type="date" name="todate" />
                        </p>
                        <p>
                            <label id="author_name">Name of author</label>
                            <input type="name" name="author_name" placeholder="Enter author name here" />
                        </p>
                        <p>
                            <label id="email">Title</label>
                            <input name="title" id="title" type="text" placeholder="Enter Title here" />
                        </p>
                        <p>
                            <label id="Min comments per post">Minimum comments </label>
                            <input type="range" name="MinCommentsPerPost" min="0" max="10" />
                        </p>
                        <p><input type="submit" value="Search" class="search" /></p>
                    </form>
                </section>


            </div>
            <!--<div id="resultTarget" class="tab">-->
            <section ng-repeat="post in posts">
                <article class="blogPost">
                    <header>
                        <h2>{{post.Title}}</h2>
                        <p>Posted on <time>{{post.Release}}</time> by <a ng-href="{{post.WebSite}}">{{post.Author}}</a></p>
                    </header>
                    <p>{{post.Text}}</p>
                    <div>
                        <!--TODO Remove the alt or put somting relevant like post title-->
                        <img ng-if="post.Image" ng-src="{{post.Image }}" alt="Flower">

                        <video ng-if="post.Video" controls="controls">
                            <source ng-src="{{post.Video}}" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </article>
                <section id="comments">
                    <article ng-repeat="comment in post.Comments" >
                        <h3 class="title">{{comment.Title}}</h3>
                        <header>
                            <a ng-href="{{comment.WebSiteCritic}}">{{comment.username}}</a> on <time>{{comment.Release}}</time>
                        </header>
                        <p>{{comment.Text}}</p>
                    </article>

                </section>
            </section>

            <!--FIXME Add this-->
            <!--@Html.Partial("~/Views/Comment/Create.cshtml", new BlogShauli.Models.Comment { PostID = post.ID })-->
            <!--</div>-->
        </div>
    <!--</div>-->
 </div>
